body {
    background-color:pink ;
    font-family: Arial, Helvetica, sans-serif;
}

.assingemnt {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: lightgray;
}

.assingemnt img {
    width: 200px;
    padding: 10px;
}
h1{
    color: darkorchid;
    text-align: center;
}